@using TestFilm.Models;
@model IndexViewModel

<div class="row">
    <h3>@User.Identity.Name</h3>
    <div class="container-fluid col-lg-12">
        <div class="row">

            @foreach (var item in Model.Films )
            {
                if ( item.User == User.Identity.Name)
                {
                    <form class="form-control" style="border:none; box-shadow:none">
                        <div class="form-group col-lg-12 navbar-text" style="height:50px; background-color:grey; margin:0 auto">
                            <h3>@item.Name</h3>
                        </div>
                        <div class="form-group col-lg-3" style="height:300px">
                            @if (item.Image != null)
                            {
                                <img style='width:80px; height:60px;' src="data:image/jpeg;base64,@(Convert.ToBase64String(item.Image))" />
                            }
                        </div>
                        <div class="form-group col-lg-6">
                            <input type="text" value="Год выпуска: @item.Year" />
                        </div>
                        <div class="form-group col-lg-6">
                            <input type="text" value="Режиссер: @item.Director" />
                        </div>
                        <div class="form-group col-lg-6">
                            <input type="text" value="@item.Description" />
                            <input type="text" value="User: @item.User" />
                            <a asp-area="" asp-controller="Home" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        </div>                        
                    </form>

                }
                else
                {
                    <form class="form-control" style="border:none; box-shadow:none">
                        <div class="form-group col-lg-12 navbar-text" style="height:50px; background-color:grey; margin:0 auto">
                            <h3>@item.Name</h3>
                        </div>
                        <div class="form-group col-lg-3" style="background-color:yellow; height:300px">
                            ПОСТЕР
                        </div>
                        <div class="form-group col-lg-6">
                            <input type="text" value="Год выпуска: @item.Year" />
                        </div>
                        <div class="form-group col-lg-6">
                            <input type="text" value="Режиссер: @item.Director" />
                        </div>
                        <div class="form-group col-lg-6">
                            <input type="text" value="@item.Description" />
                            <input type="text" value="User: @item.User" />
                        </div>
                    </form>
                }
            }          
        </div>
    </div>
</div>

@if (Model.PageViewModel.HasPreviousPage)
{
    <a asp-action="Index"
       asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
       class="btn btn-default btn">
        <i class="glyphicon glyphicon-chevron-left"></i>
        Назад
    </a>
}
@if (Model.PageViewModel.HasNextPage)
{
    <a asp-action="Index"
       asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
       class="btn btn-default btn">
        <i class="glyphicon glyphicon-chevron-right"></i>
        Вперёд
    </a>
}